<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1 class="display-2 text-white code">#{{course.code}}</h1>
                <h1 class="display-2 text-white">
                    <app-edit-input [data]='course.name' (focusOut)='saveCost($event)'></app-edit-input>
                </h1>
                <p class="text-white mt-0 mb-5 ">{{course.description}}</p>

                <a href="#!" class="btn btn-secondary ">Edit</a>
                <a href="#!" class="btn btn-info "><i class="ni ni-button-play "></i>Publish</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--7 ">
    <div class="row ">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0 ">
            <div class="card card-profile shadow ">
                <div class="row justify-content-center" style="overflow: hidden;max-height:300px">
                    <a href="javascript:void(0) ">
                        <img [src]="course.coverPic" class="img-thumbnail ">
                    </a>
                    <div class="uploader" appDragAndDrop (fileDropped)="onFileSelect($event) ">
                        <input type="file" #fileDropRef id="fileDropRef" multiple (change)="onFileSelect($event.target)" name="files" />
                        <i class="now-ui-icons arrows-1_cloud-upload-94" style="font-size:94px !important "></i>
                        <h3>Drag and drop your music file here</h3>
                        <h3>or</h3>
                        <label for="fileDropRef" class="btn ">Browse for file</label>
                    </div>
                </div>
                <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4 ">
                    <div class="d-flex justify-content-between ">
                        <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4 ">Connect</a>
                        <a href="javascript:void(0)" class="btn btn-sm btn-default float-right ">Message</a>
                    </div>
                </div>
                <div class="card-body pt-0 pt-md-4 ">
                    <div class="row ">
                        <div class="col ">
                            <div class="card-profile-stats d-flex justify-content-center mt-md-5 ">
                                <div>
                                    <span class="heading ">22</span>
                                    <span class="description ">Friends</span>
                                </div>
                                <div>
                                    <span class="heading ">10</span>
                                    <span class="description ">Photos</span>
                                </div>
                                <div>
                                    <span class="heading ">89</span>
                                    <span class="description ">Comments</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center ">
                        <h3>
                            Jessica Jones<span class="font-weight-light ">, 27</span>
                        </h3>
                        <div class="h5 font-weight-300 ">
                            <i class="ni location_pin mr-2 "></i>Bucharest, Romania
                        </div>
                        <div class="h5 mt-4 ">
                            <i class="ni business_briefcase-24 mr-2 "></i>Solution Manager - Creative Tim Officer
                        </div>
                        <div>
                            <i class="ni education_hat mr-2 "></i>University of Computer Science
                        </div>
                        <hr class="my-4" />
                        <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p>
                        <a href="javascript:void(0) ">Show more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 order-xl-1 ">
            <div class="card bg-secondary shadow ">
                <div class="card-header bg-white border-0 ">
                    <div class="row align-items-center ">
                        <div class="col-6 ">
                            <h3 class="mb-0 ">Chapters</h3>
                        </div>
                        <div class="col-6 text-right ">
                            <button class="btn btn-sm {{tab=='blog' ? 'btn-primary' : ''}}" (click)="setTab('blog')">Blog</button>
                            <button class="btn btn-sm {{tab=='shedule' ? 'btn-primary' : ''}}" (click)="setTab('shedule')">Shedules</button>
                            <button class="btn btn-sm {{tab=='module' ? 'btn-primary' : ''}}" (click)="setTab('module')">Modules</button>
                            <button class="btn btn-sm {{tab=='people' ? 'btn-primary' : ''}}" (click)="setTab('people')">People</button>
                            <button class="btn" (click)="open(content) ">
                                <i class="ni ni-fat-add "></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="container ">
                        <h1>Angular 8 Bootstrap Collapse Example - ItSolutionStuff.com</h1>
                        <app-backoffice-courses-shedule *ngIf="tab=='shedule'"></app-backoffice-courses-shedule>
                        <app-backoffice-courses-people *ngIf="tab=='people'" [associations]="course.associations"></app-backoffice-courses-people>
                        <app-backoffice-courses-module *ngIf="tab=='module'" [typeTasks]="typeTasks" [chapters]="course.chapters"></app-backoffice-courses-module>
                        <app-backoffice-courses-blog *ngIf="tab=='blog'"></app-backoffice-courses-blog>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header ">
        <h1 class="modal-title" id="modal-basic-title ">Add {{tab|uppercase}}</h1>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss( 'Cross click ') ">
  <span aria-hidden="true ">&times;</span>
</button>
    </div>
    <div class="modal-body ">
        <app-backoffice-association-create *ngIf="tab=='people'"></app-backoffice-association-create>
        <app-backoffice-chapter-create *ngIf="tab=='module'"></app-backoffice-chapter-create>
    </div>
    <div class=" modal-footer ">
        <button type="button " class="btn " (click)="modal.close() ">Close</button>
        <button type="submit " class="btn btn-success " (click)="saveChapterForm() ">Add</button>
    </div>
</ng-template>