<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-250">
            <div class="shape shape-style-1 shape-default">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container py-lg-md d-flex">
                <div class="col px-0">
                    <div class="row">
                        <div class="col-lg-6">
                            <h1 class="display-3  text-white">Dê um salto na sua carreira
                                <span>estudar de qualquer lugar</span>
                            </h1>
                            <p class="lead  text-white">sequências de cursos e conteúdo para você se capacitar em tecnologia e negócios digitais.</p>
                            <div class="btn-wrapper">

                                <div class="form-group" [ngClass]="{'focused':focus===true}">
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Search" type="text" (focus)="focus=true" (blur)="focus=false">
                                    </div>
                                </div>
                            </div>
                            <div class="btn-wrapper">
                            </div>
                        </div>
                        <div class="col-lg-6 text-right">
                            <span class="display-3  text-white" style="font-size:200px;">NZ</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
            </div>
        </section>
        <!-- 1st Hero Variation -->
    </div>
    <section class="section section-lg pt-lg-0 mt--200">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="row row-grid">
                        <div class="col-lg-3">
                            <div class="card card-lift--hover shadow border-0">
                                <img src="https://prod-discovery.edx-cdn.org/media/course/image/d2b93075-2fa8-4439-a90f-9434b779130e-0b6e3f405bfe.small.jpg" class="img-thumbnail" />
                                <div class="card-body py-5">
                                    <h6 class="text-primary text-uppercase">The Divine Comedy: Dante's Journey to Freedom</h6>
                                    <div>
                                        <span class="badge badge-pill badge-primary">angular</span>
                                        <span class="badge badge-pill badge-primary">creative</span>
                                    </div>
                                    <a [routerLink]="[ '/path', routeParam ]" class="btn btn-primary mt-4">Enrole</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card card-lift--hover shadow border-0">
                                <img src="https://prod-discovery.edx-cdn.org/media/course/image/81cfc304-0eed-4779-9de8-41c79504e456-23b25ba78a5c.small.jpg" class="img-thumbnail" />
                                <div class="card-body py-5">

                                    <h6 class="text-success text-uppercase">Six Sigma: Define and Measure</h6>
                                    <div>
                                        <span class="badge badge-pill badge-success">business</span>
                                        <span class="badge badge-pill badge-success">vision</span>
                                        <span class="badge badge-pill badge-success">success</span>
                                        <span class="badge badge-pill badge-success">success</span>
                                    </div>
                                    <a href="javascript:void(0)" class="btn btn-success mt-4">Learn more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card card-lift--hover shadow border-0">
                                <img src="https://prod-discovery.edx-cdn.org/media/course/image/c7396192-c639-4cc5-9d37-0722d44a7138-cdaef269d3a7.small.jpg" class="img-thumbnail" />
                                <div class="card-body py-5">
                                    <h6 class="text-warning text-uppercase">Upper-Intermediate English: Business and Modern Life</h6>
                                    <div>
                                        <span class="badge badge-pill badge-warning">product</span>
                                        <span class="badge badge-pill badge-warning">launch</span>
                                    </div>
                                    <a href="javascript:void(0)" class="btn btn-warning mt-4">Learn more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card card-lift--hover shadow border-0">
                                <img src="https://prod-discovery.edx-cdn.org/media/course/image/049ca241-7dd6-49d1-8728-f4160dae3dc9-a17378f17463.small.jpg" class="img-thumbnail" />
                                <div class="card-body py-5">
                                    <h6 class="text-warning text-uppercase">English for Doing Business in Asia – Speaking</h6>
                                    <div>
                                        <span class="badge badge-pill badge-warning">product</span>
                                        <span class="badge badge-pill badge-warning">launch</span>
                                    </div>
                                    <a href="javascript:void(0)" class="btn btn-warning mt-4">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section section-lg">
        <div class="container">
            <div class="row row-grid justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="display-3">Aprenda no seu ritmo.
                        <span class="text-success">Explore mais de 250 Cursos Online Com Certificado</span>
                    </h2>
                    <p class="lead">Cursos disponíveis e comece a se qualificar. Você pode acessar os cursos no momento que lhe for mais conveniente pois nosso site fica online 24 horas por dia, 7 dias por semana. below to navigate to Creative Tim where you can find
                    </p>
                    <div class="text-center">
                        <h4 class="display-4 mb-5 mt-5">Available on these technologies</h4>
                        <div class="row justify-content-center">
                            <div class="col-lg-2 col-4">
                                <a href="https://www.creative-tim.com/product/argon-design-system?ref=adsa-landing-page" target="_blank" placement="top" ngbTooltip="Bootstrap 4 - Most popular front-end component library">
                                    <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/bootstrap.jpg" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-lg-2 col-4">
                                <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-landing-page" target="_blank" placement="top" ngbTooltip="Angular - One framework. Mobile &amp; desktop">
                                    <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/angular.jpg" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-lg-2 col-4">
                                <a href="https://www.creative-tim.com/product/vue-argon-design-system?ref=adsa-landing-page" target="_blank" placement="top" ngbTooltip="Vue.js - The progressive javascript framework">
                                    <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/vue.jpg" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-lg-2 col-4">
                                <a href="https://www.sketchapp.com/?ref=creative-tim" target="_blank" placement="top" ngbTooltip="[Coming Soon] Sketch - Digital design toolkit">
                                    <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/sketch.jpg" class="img-fluid opacity-3">
                                </a>
                            </div>
                            <div class="col-lg-2 col-4">
                                <a href="https://www.adobe.com/products/photoshop.html?ref=creative-tim" target="_blank" placement="top" ngbTooltip="[Coming Soon] Adobe Photoshop - Software for digital images manipulation">
                                    <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/ps.jpg" class="img-fluid opacity-3">
                                </a>
                            </div>
                            <div class="col-lg-2 col-4">
                                <a href="https://reactjs.org/?ref=creative-tim" target="_blank" placement="top" ngbTooltip="[Coming Soon] React - A JavaScript library for building user interfaces">
                                    <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/react.jpg" class="img-fluid opacity-3">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-shaped">
        <div class="shape shape-style-1 shape-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container py-md">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-5 mb-5 mb-lg-0">
                    <h1 class="text-white font-weight-light">Bootstrap carousel</h1>
                    <p class="lead text-white mt-4">Argon Design System comes with four pre-built pages to help you get started faster. You can change the text and images and you're good to go.</p>
                    <a href="https://demos.creative-tim.com/argon-design-system-angular/documentation/alerts?ref=adsa-bootstrap-carousel" class="btn btn-white mt-4">See all components</a>
                </div>
                <div class="col-lg-6 mb-lg-auto">
                    <div class="rounded shadow-lg overflow-hidden transform-perspective-right">
                        <ngb-carousel>
                            <ng-template ngbSlide>
                                <img class="img-fluid" src="assets/img/theme/img-1-1200x1000.jpg" alt="First slide">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img class="img-fluid" src="assets/img/theme/img-2-1200x1000.jpg" alt="Second slide">
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
        </div>
    </section>
    <section class="section section-lg">
        <div class="container">
            <div class="row row-grid align-items-center">
                <div class="col-md-6 order-md-2">
                    <img src="./assets/img/theme/promo-1.png" class="img-fluid floating">
                </div>
                <div class="col-md-6 order-md-1">
                    <div class="pr-md-5">
                        <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
                            <i class="ni ni-settings-gear-65"></i>
                        </div>
                        <h3>Awesome features</h3>
                        <p>The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go.</p>
                        <ul class="list-unstyled mt-5">
                            <li class="py-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="badge badge-circle badge-success mr-3">
                                            <i class="ni ni-settings-gear-65"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <h6 class="mb-0">Carefully crafted components</h6>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="badge badge-circle badge-success mr-3">
                                            <i class="ni ni-html5"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <h6 class="mb-0">Amazing page examples</h6>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="badge badge-circle badge-success mr-3">
                                            <i class="ni ni-satisfied"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <h6 class="mb-0">Super friendly support team</h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>