<div class="row bg-secondary shadow" style="height: 55px; border:solid 1px #eee">

    <div class="col-sm-8" style="padding: 15px;">
        <button class="btn btn-sm d-none"><img style="width: 20px; " src="assets/img/icons/collection/icons8-drag.png " /></button>
        <span (click)="isCollapsed=! isCollapsed " [attr.aria-expanded]="!isCollapsed " aria-controls="collapseExample ">Default Color</span>
    </div>
    <div class="col-sm-4 text-right" style="padding: 15px;">
        <ul class="list-inline ">
            <li class="list-inline-item ">
                <a class="nav-link nav-link-icon " href="# ">
                    <i class="ni ni-fat-add "></i>
                </a>
            </li>
            <li ngbDropdown class="list-inline-item dropdown ">
                <a ngbDropdownToggle class="nav-link nav-link-icon " href="javascript:void(0) " id="navbar-default_dropdown_1 " role="button " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">
                    <i class="fas fa-ellipsis-v "></i>
                </a>
                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right " aria-labelledby="navbar-default_dropdown_1 ">
                    <a class="dropdown-item " href="# ">Action</a>
                    <a class="dropdown-item " href="# ">Another action</a>
                    <div class="dropdown-divider "></div>
                    <a class="dropdown-item " href="# ">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
</div>


<div id="collapseExample " [ngbCollapse]="isCollapsed ">
    <div class="card ">
        <div class="card-body ">
            You can collapse this card by clicking Toggle Button. This is example from ItSolutionStuff.com.
        </div>
    </div>
</div>