<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
        <!-- Circles background -->
        <div class="shape shape-style-1 shape-primary alpha-4">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="card card-profile shadow mt--300">
                <div class="px-4">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                            <div class="card-profile-actions py-4 mt-lg-0 text-right">
                                <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
                                <a class="btn btn-lg"><i class="fa fa-facebook"></i></a>
                                <a class="btn btn-lg"><i class="fa fa-instagram"></i></a>
                                <a class="btn btn-lg"><i class="fa fa-linkedin"></i></a>
                                <a class="btn btn-lg"><i class="fa fa-twitter"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-8 order-lg-1">
                            <div class="card-profile-stats d-flex">
                                <div>
                                    <span class="heading">2</span>
                                    <span class="description">Provas</span>
                                </div>
                                <div>
                                    <span class="heading">30 Hr</span>
                                    <span class="description">Duração</span>
                                </div>
                                <div>
                                    <span class="heading">PT</span>
                                    <span class="description">Linguagem</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin: 0 -1.6rem !important; background-image: url('/assets/img/theme/img-2-1200x1000'); height: 70px; ">

                    </div>
                    <div class="text-center mt-5">
                        <h1>Curso de Metrologia Industrial </h1>
                        <a href="javascript:void(0)" [routerLink]="['/courses/landing/12312']" class="btn btn-icon btn-3 btn-primary pull-right">
                            <span class="btn-inner--icon">
                                <i class="ni ni-bag-17"></i>
                            </span>
                            <span class="btn-inner--text">Enrol</span>
                        </a>
                        <a class="btn btn-lg pull-right"><i class="ni ni-favourite-28"></i></a>
                        <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer</div>
                        <div><i class="ni education_hat mr-2"></i>University of Computer Science</div>

                        <br>
                    </div>
                </div>
                <div class="px-4 border-top">
                    <br>
                    <div class="col-md-12 row">
                        <div class="col-md-8">
                            <div class="thim-course-content">

                                <p>O nosso <em><strong>Curso de Metrologia Industrial
                                            Básico</strong><strong>&nbsp;</strong></em>é Grátis, Online&nbsp;e conta com *
                                    <a href="https://certificadocursosonline.com/sobreocertificado/" target="_blank" rel="noopener">Certificado</a> opcional válido em todo Brasil.</p>
                                <p>O CERTIFICADO de conclusão de Curso de Metrologia Industrial Básico do nosso portal é válido conforme&nbsp;<a href="http://www.planalto.gov.br/ccivil_03/leis/L9394.htm" target="_blank" rel="noopener">(lei número 9.394)</a>&nbsp;e
                                    pode ser usado para:</p>
                                <ul>
                                    <li>Horas extracurriculares</li>
                                    <li><a href="https://certificadocursosonline.com/atividades-complementares/">Atividades
                                            Complementares</a></li>
                                    <li>Enriquecer seu currículo</li>
                                    <li>Avaliações de empresas</li>
                                    <li>Processos de recrutamento e seleção;</li>
                                    <li>Concursos Públicos</li>
                                    <li><a href="http://abed.org.br/blog/prova-titulos-concursos-publicos/">Provas de de
                                            títulos</a></li>
                                    <li>E muito mais…</li>
                                </ul>
                                <h3><span id="Veja_como_e_a_frente_do_certificado_de_conclusao_do_Curso_de_Metrologia_Industrial_Basico"><span
                                            style="font-size: 12pt;">Veja como é a frente do certificado de conclusão do
                                            Curso de Metrologia Industrial Básico:</span></span>
                                </h3>
                                <p><noscript><img class="alignnone wp-image-498504 size-full"
                                            src="https://certificadocursosonline.com/wp-content/uploads/2020/01/CERTIFICADO-DO-CURSO-DE-METROLOGIA-INDUSTRIAL-B%C3%81SICO.jpg"
                                            alt="CERTIFICADO DO CURSO DE METROLOGIA INDUSTRIAL BÁSICO" width="650"
                                            height="460"
                                            srcset="https://certificadocursosonline.com/wp-content/uploads/2020/01/CERTIFICADO-DO-CURSO-DE-METROLOGIA-INDUSTRIAL-BÁSICO.jpg 650w, https://certificadocursosonline.com/wp-content/uploads/2020/01/CERTIFICADO-DO-CURSO-DE-METROLOGIA-INDUSTRIAL-BÁSICO-300x212.jpg 300w, https://certificadocursosonline.com/wp-content/uploads/2020/01/CERTIFICADO-DO-CURSO-DE-METROLOGIA-INDUSTRIAL-BÁSICO-600x425.jpg 600w"
                                            sizes="(max-width: 650px) 100vw, 650px"></noscript>
                                    <img class="alignnone wp-image-498504 size-full ls-is-cached lazyloaded" src="https://certificadocursosonline.com/wp-content/uploads/2020/01/CERTIFICADO-DO-CURSO-DE-METROLOGIA-INDUSTRIAL-B%C3%81SICO.jpg" data-src="https://certificadocursosonline.com/wp-content/uploads/2020/01/CERTIFICADO-DO-CURSO-DE-METROLOGIA-INDUSTRIAL-B%C3%81SICO.jpg"
                                        alt="CERTIFICADO DO CURSO DE METROLOGIA INDUSTRIAL BÁSICO" width="650" height="460" data-srcset="https://certificadocursosonline.com/wp-content/uploads/2020/01/CERTIFICADO-DO-CURSO-DE-METROLOGIA-INDUSTRIAL-BÁSICO.jpg 650w, https://certificadocursosonline.com/wp-content/uploads/2020/01/CERTIFICADO-DO-CURSO-DE-METROLOGIA-INDUSTRIAL-BÁSICO-300x212.jpg 300w, https://certificadocursosonline.com/wp-content/uploads/2020/01/CERTIFICADO-DO-CURSO-DE-METROLOGIA-INDUSTRIAL-BÁSICO-600x425.jpg 600w"
                                        data-sizes="(max-width: 650px) 100vw, 650px" sizes="(max-width: 650px) 100vw, 650px" srcset="https://certificadocursosonline.com/wp-content/uploads/2020/01/CERTIFICADO-DO-CURSO-DE-METROLOGIA-INDUSTRIAL-BÁSICO.jpg 650w, https://certificadocursosonline.com/wp-content/uploads/2020/01/CERTIFICADO-DO-CURSO-DE-METROLOGIA-INDUSTRIAL-BÁSICO-300x212.jpg 300w, https://certificadocursosonline.com/wp-content/uploads/2020/01/CERTIFICADO-DO-CURSO-DE-METROLOGIA-INDUSTRIAL-BÁSICO-600x425.jpg 600w">
                                </p>
                                <p>OBS. Se seu objetivo com esse <a href="https://certificadocursosonline.com/?post_type=lp_course&amp;p=498402&amp;preview=true">Curso
                                        de Metrologia Industrial Básico</a>&nbsp;é o certificado&nbsp;<a href="https://certificadocursosonline.com/sobreocertificado/" data-wpel-link="internal">CLIQUE AQUI</a>&nbsp; e saiba mais.</p>
                                <h4><strong><a
                                            href="https://certificadocursosonline.com/account/?action=register">CLIQUE
                                            AQUI E CADASTRE-SE GRÁTIS</a></strong></h4>
                                <h2><span id="Conteudo_programatico_do_Curso_de_Metrologia_Industrial_Basico"><span
                                            style="font-size: 12pt;">Conteúdo programático do Curso de Metrologia
                                            Industrial Básico:</span></span>
                                </h2>
                                <div class="WordSection1">
                                    <ul>
                                        <li>Histórico e o Surgimento do Metro</li>
                                        <li>Surgimento do Sistema Métrico Decimal</li>
                                        <li>O Sistema Inglês de Medidas</li>
                                        <li>Outras Unidades de Medidas Usadas</li>
                                        <li>Qual é a Finalidade do Controle de Medição</li>
                                        <li>Métodos e Instrumentos de Medição</li>
                                        <li>Réguas Graduadas</li>
                                        <li>Paquímetros</li>
                                        <li>Paquímetros – Erros de Leitura e Conservação</li>
                                        <li>Paquímetros – Passo a Passo de uma Medição de Peça Usinada</li>
                                        <li>Conhecendo o Micrômetro</li>
                                        <li>Micrômetros: Tipos e Suas Aplicações</li>
                                        <li>Micrômetros: Aplicação do Sistema Métrico e Inglês</li>
                                        <li>Como Fazer Medições com Micrômetro Interno</li>
                                        <li>Micrômetro Externo – Passo a Passo para a Medição Correta</li>
                                        <li>Calibradores – Funções e Uso Correto</li>
                                        <li>Esquadros de Precisão e demais Verificadores</li>
                                        <li>Relógio Comparador de Peças</li>
                                        <li>Goniômetro</li>
                                        <li>Bibliografia/Links Recomendados</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thim-course-info">
                                <h3 class="title">Detalhes do Curso</h3>
                                <ul class="list-group">
                                    <li class="list-group-item"> <i class="fa fa-files-o"></i> <span class="label">Leituras</span> <span class="value">20</span></li>
                                    <li class="list-group-item"> <i class="fa fa-puzzle-piece"></i> <span class="label">Quizzes</span> <span class="value">1</span></li>
                                    <li class="list-group-item"> <i class="fa fa-clock-o"></i> <span class="label">Duração</span> <span class="value">30 Horas</span></li>
                                    <li class="list-group-item"> <i class="fa fa-level-up"></i> <span class="label">Nível de Habilidade</span> <span class="value">Básico</span>
                                    </li>
                                    <li class="list-group-item"> <i class="fa fa-language"></i> <span class="label">Linguagem</span> <span class="value">Português </span></li>
                                    <li class="list-group-item"> <i class="fa fa-users"></i> <span class="label">Alunos</span> <span class="value">2210</span></li>
                                    <li class="list-group-item"> <i class="fa fa-rebel"></i> <span class="label">Certificado</span> <span class="value">Sim</span></li>
                                    <li class="list-group-item"> <i class="fa fa-check-square-o"></i> <span class="label">Critérios de avaliação</span> <span class="value">Sim</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>